/**
 * @name Amoled+
 * @version 3.1.6 bvrke version
 * @author bvrke
 * @authorId 378243205080154113
 * @description A Smooth, Black theme
*/

@import url("https://raw.githubusercontent.com/vberke/VencordTheme/refs/heads/main/Amoled%2B/Amoled%2B.theme.css");

/* Source */
#app-mount .numberBadge-37OJ3S {
    background-color: var(--brand-experiment) !important;
    color: white;
    border-radius: 20% !important;
}

.modeSelected-3DmyhH .content-1gYQeQ,
.modeSelected-3DmyhH:hover .content-1x5b-n {
    background: transparent;
}

.modeMuted-2T4MDZ .name-28HaxV {
    color: #2b2b2b;
}

.modeSelected-3DmyhH .mainContent-20q_Hp::before {
    position: relative;
    background-color: var(--selected-indicator);
    box-shadow: 0 0 20px 4px var(--selected-indicator);
    border-radius: 50%;
    width: 5px;
    height: 5px;
    left: -11px;
}

/////////////////////////


.icon-2W8DHg {
    height: 11px;
    width: 11px;
    opacity: 0.4;
}

.modeSelected-3DmyhH .mainContent-20q_Hp,
.mainContent-20q_Hp:hover {
    position: relative;
    left: 10px;
}

.autocompleteRowVertical-EA9dCg rect.pointerEvents-9SZWKj {
    x: 18 !important;
}

.overflow-1wOqNV:not(.nameAndDecorators-2A8Bbk .overflow-1wOqNV) {
    text-transform: capitalize !important;
    font-size: 11pt;
    font-weight: 500;
}

.option-2KkUJO:after {
    display: none;
}

.name-28HaxV,
.channelName-3KPsGw {
    font-size: 11pt;
    text-transform: capitalize !important;
}

.root-g14mjSL:not(.carouselModal-1eUFoq) {
    background-color: var(--background-tertiary) !important;
}

.theme-light .root-g14mjS {
    box-shadow: var(--elevation-border), var(--elevation-high);
}

.sampleLink-5BWNy9 {
    color: #fff;
}

.messageContent-2t3eC {
    font-weight: 400;
}

.autocomplete-3NRXG8,
.uploadModal-2ie9O_ {
    background-color: var(--background-secondary) !important;
}

.headerChildren-2qV9P8 > svg,
.addButtonIcon-3rJeaD {
    color: var(--channels-default);
}

.wrapper-1VLyxH {
    mask: unset;
}

.content-2a4AW9 [style="height: 16px;"] {
    height: 10px !important;
}

.scrollableContainer-15eg7h {
    border-radius: 20px;
    min-height: 70px !important;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start !important;
}

.container-2giAcK {
    display: var(--boost-bar);
}

.header-3OsQeK {
    height: 55px;
    display: flex;
    align-items: center;
}

.name-3Uvkvr {
    color: var(--channels-default);
    text-transform: uppercase;
    font-size: 9pt;
}

.peopleList-2VBrVI::-webkit-scrollbar {
    display: none;
}

.peopleColumn-1wMU14 {
    background-color: var(--background-primary);
}

.inner-NQg18Y {
    min-width: 96%;
    max-height: 50vh;
}

.codeBlockText-28BOxV,
code {
    font-family: var(--code-font);
}

.avatar-6qzftW,
.wrapper-1VLyxH,
.avatar-2Vndt_,
.wrapper-1VLyxH,
.avatar-b5OQ1N,
.avatar-2e8lTP,
.avatar-3FKimL {
    border-radius: 38%;
}

.replyBar-1oi75v,
.clipContainer-31nYlH {
    background: var(--background-primary);
}

.avatarHint-k7pYop foreignObject {
    mask: unset;
    border-radius: 35% !important;
}

.avatarHintInner-2HUAWj {
    border-radius: 35% !important;
}

.imageWrapper-oMkQl4 {
    border-radius: 20px;
}

.members-3WRCEx,
.members-3WRCEx > div,
.container-2Oqvgx,
.container-NkLXgf {
    background-color: var(--background-primary);
}

.children-3xh0VB:after {
    display: none;
}

.auto-2K3UW5::-webkit-scrollbar-thumb {
    display: block;
}

.container-ZMc96U {
    background: var(--background-primary) !important;
}

.container-YkUktl,
.container-6sXIoE {
    background-color: var(--background-secondary);
}

.container-6sXIoE {
    border: none;
}

.scroller-1d5FgU::-webkit-scrollbar {
    display: none;
}

.scroller-kQBbkU {
    margin-right: 30px !important;
}

.textScroller-dc9_kz {
    color: var(--text-normal);
}

.arrow-2HswgU {
    display: none;
}

.userPopoutOuter-3AVBmJ rect.pointerEvents-9SZWKj,
.profilePanel-2PWEok rect.pointerEvents-9SZWKj {
    x: 66 !important;
    y: 66 !important;
    height: 15px;
    width: 15px;
}

.layer-1Ixpg3 rect.pointerEvents-9SZWKj {
    x: 120 !important;
    y: 100 !important;
    height: 15px;
    width: 15px;
}

.scroller-1bVxF5 {
    padding: 6px 8px !important;
}

.bf-toolbar::before,
.contentWarningPopout-WKdbDG {
    background: var(--background-floating) !important;
}

.card-14SgW5 {
    background: #101014 !important;
}

.theme-dark.navRow-dG-XX8 {
    background: #17161b !important;
}

.divider-vv_iHh {
    border-bottom: 1px solid transparent !important;
}

.roleContainer-WStCpt {
    background: transparent !important;
}

.callContainer-BGIngG .content-2a4AW9 {
    background-color: transparent !important;
}

#MemberCount,
#MemberCount .membersGroup-2eiWxl {
    background-color: var(--background-primary) !important;
}

.header-2Kx1US.ChannelDms-channelmembers-header.topPill-3DJJNV {
    background: var(--background-primary) !important;
}

.bannerSVGWrapper-qc0szY mask {
    display: none;
}

.avatar-3QF_VA::before {
    height: 136px;
    width: 136px;
    margin: -8px;
}

.userPopout-2j1gM4 [class^="avatarWrapper"] .wrapper-1VLyxH,
.avatarHint-k7pYop {
    top: 9px;
}

.bd-error-modal-header,
.bd-error-modal-content {
    background-color: var(--background-secondary) !important;
}

/////

:root {
    --version: "1.0.7";
}

.embedThumbnail-2nTasl {
    border-radius: 4px !important;
}



.mentioned-Tre-dv:before {
    background-color: var(--brand-experiment);
    box-shadow: 0 0 20px 4px var(--brand-experiment);
}

.newMessagesBar-1hF-9G {
    box-shadow: 0 0 40px 4px var(--brand-experiment);
}

/*/////////////////////////////////////////////////////////////////////////////*/

:root,
.theme-dark {
    --text-normal: #ff2020ee;
    --text-muted: #ffffff;
    --text-link: #cf4bff;
    --text-positive: #50dc7d;
    --text-warning: #73498d;
    --text-danger: #73498d;
    --text-brand: #ae00ff;
    --interactive-normal: #ffffff;
    --interactive-hover: #0d5195;
    --interactive-active: #c9ced0;
    --interactive-muted: #4f545c;
    --background-primary: #000000;
    --background-secondary: #000000;
    --background-secondary-alt: rgb(0, 0, 0);
    --background-tertiary: #000000;
    --background-accent: #000000;
    --background-floating: #040404;
    --modal-background: #000000;
    --channeltextarea-background: rgb(0, 0, 0);
    --info-positive-text: #ff0000;
    --info-warning-text: #fff;
    --info-warning-foreground: #ae00ff;
    --info-danger-text: #fff;
    --info-help-text: #fff;
    --status-warning-text: #000000;
    --background-mentioned: #ae00ff1c;
    --background-mentioned-hover: #000000;
    --background-message-hover: rgb(0, 0, 0);
    --scrollbar-auto-thumb: #ae00ff;
    --brand-experiment: #ae00ff;
    --brand-experiment-hover: #6f6af64d;
    --brand-experiment-560: #ae00ff;
    --channels-default: #656565;
    --selected-indicator: #ff0000;
    --hover-indicator: #ffffff;
    --boost-bar: none;
}

                                                  
   
  .channelTextArea-1VQBuV .scrollableContainer-15eg7h {
    box-shadow: 0 0 7px 0.7px #ae00ff;
    } 


  
  #floating-editor-window.resizable {
    max-height: unset;
    max-width: unset;
}


.titleBar-1it3bQ {
    height: 15px;
}



[class*="menu-"][role="menu"] {
    background-color: transparent;
}


[class*="menu-"][role="menu"]::before {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: transparent;
    border-radius: 8px;
    backdrop-filter: blur(20px);
}


.toolbar-3_r2xA a {
    display: none;
  }


  .privateChannels-oVe7HL .searchBar-3TnChZ {
	padding: 0px 0px;
}
.privateChannels-oVe7HL .searchBar-3TnChZ .searchBarComponent-3N7dCG {
	background: var(--bg-overlay-3,#141414);
	border: none;
	font-size: 12.5px;
	text-align: center;
}
.privateChannels-oVe7HL .searchBar-3TnChZ .searchBarComponent-3N7dCG:hover {
	background: var(--bg-overlay-3,#161616);
}

.wordmarkWindows-2dq6rw svg {
    display:none;
}

@font-face {
    font-family: 'MyCustomFont';
    src: url format('truetype');
  }

  .wordmarkWindows-2dq6rw::after {
    content: 'DISCORDU SİKTİM ÖLDÜ BVRKE';
    font-family: 'MyCustomFont', sans-serif;
    font-size: 11.5px;
    font-weight: 900;
  }
  .bd-addon-list .bd-addon-card { / Theming for BetterDiscord settings section /
 background: var(--background-tertiary);
 box-shadow: var(--box-shadow);
 padding: 0px 16px 16px;
}

.wrapper-38slSD:active {
 -webkit-transform: unset;
 transform: none;
}

.panels-3wFtMD {
    margin-right: 6px;
    margin-bottom: 6px;
    margin-left: 5px;
    border: 0px solid var(--background-modifier-accent);
    border-radius: 20px;
   
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.45);
   }
   
   .theme-dark .container-YkUktl, .container-1zzFcN, .theme-dark .panel-2ZFCRb {
    background-color: transparent;
   }
   
   .panels-3wFtMD .container-YkUktl .flex-2S1XBF {
    margin-left: -10px;
   }
